# .tarvis.yml
language: node_js # 指定语言环境
node_js:
  - "13" # 指定 NodeJS 版本

# 安装package.json描述的依赖
install:
  - npm install

# 清理和生成静态资源
script: 
  - hexo clean
  - hexo generate 

after_success: 
  # 找到静态资源
  - cd ./public
  - git init
  # user.name 和 user.email 让 travis 能登录你的 github
  - git config user.name "endeavor2299"
  - git config user.email "1932317892@qq.com"
  - git add .
  - git commit -m "docs:update articles"
  # GH_TOKEN 是 github 允许 travis 访问生成的凭证
  # GH_REF 告诉 travis 往哪个仓库推送代码，具体值下面配置
  - git push --force --quiet "https://${GH_TOKEN}@${GH_REF}" master:master
  
branches: # 指定要构建的分支
  only: # only 表示只构建以下分支
  - develop
  
env:
  global:
    # 定义往哪个仓库推送代码，注意事项见下面
    - GH_REF: github.com/endeavor2299/endeavor2299.github.io.git

